[user]
        name = Tommy Tynjä
        email = tommy.tynja@___.__
[push]
        default = current
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        df = diff
        dc = diff --cached
        lg = log -p
        hist = log --pretty=format:\"%C(magenta) %ad %C(yellow)%h %Creset%s%d %C(cyan) [%an]\" --graph --date=short
        list = log ORIG_HEAD.. --stat --no-merges
        type = cat-file -t
        dump = cat-file -p
        undo = reset --hard
